.disply-style {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 120px;
}
.some {
  padding-right: 1000px;
}
nav > ul {
  display: flex;
  gap: 10px;
  list-style: none;
}
nav > li {
  font-weight: 500;
  font-size: 1rem;
}
nav > li > a {
  text-decoration: none;
  color: rgb(21, 21, 25);
}
.img-style {
  padding-left: 130px;
  margin-bottom: 20px;
}
.your-travel {
  text-align: center;
  background-image: url(Images/maldip.png);
  background-repeat: no-repeat;
  height: 400px;
  padding: 50px;
  margin: 120px;
  margin-top: 5px;
}
.people {
  padding: 50px 150px;
  display: flex;
  padding-bottom: 30px;
}
.pick-style img {
  padding-left: 660px;
  display: flex;
  padding-bottom: 100px;
}
.init img {
  padding-left: 50px;
}
.deppant-style {
  text-align: center;
}
.gate-style img {
  padding-left: 20px;
}
.pragharp-style {
  text-align: center;
}
.tours .image-galley {
  display: flex;
}
.image-galley img {
  padding-left: 800px;
}

/* mobile responsive */
@media screen and(max-width: 576px) {
  .disply-style {
    grid-template-columns: 1 1fr;
    grid-column: 10px;
  }
}
